/* https://github.com/auranticus/New-York-fonts */
@font-face {
	font-family: LogoFont;
	src: url(../assets/fonts/NewYork/NewYorkMedium-Medium.otf);
}

/* https://github.com/chrismsimpson/Metropolis */
@font-face {
	font-family: HeadingFont;
	src: url(../assets/fonts/Metropolis/Metropolis-Bold.otf);
}

/* https://github.com/adobe-fonts/source-sans-pro */
@font-face {
	font-family: RegularFont;
	src: url(../assets/fonts/SourceSansPro/SourceSansPro-Regular.otf);
}

/* https://github.com/floriankarsten/space-grotesk */
@font-face {
	font-family: CleanFontThick;
	src: url(../assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.otf);
}
@font-face {
	font-family: CleanFont;
	src: url(../assets/fonts/SpaceGrotesk/SpaceGrotesk-Light.otf);
}