html, body { margin: 0; padding: 0; }
html { font-size: 10px; }

/* remove default input element styling */
input {
	outline: none;
}

/* credit: https://w3codepen.com/html-css-full-screen-overlay-menu/ */
.center-fixed {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}