@import url("./fonts.css");

html, body { margin: 0; padding: 0; }
html { font-size: 10px; }

:root {
	--accent-color: olivedrab;
}

body {
	font-family: RegularFont;
	background-color: whitesmoke;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: black;
}

main {
	width: 100%;
	display: flex;
	justify-content: center;
}

.main-inner {
	width: 100%;
	max-width: 800px;
}

form * {
	appearance: none;
	border-radius: 0;
}

input:focus {
	outline-color: var(--accent-color);
	box-sizing: border-box;
	z-index: 1;
}

a {
	/* remove link styling */
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: var(--accent-color);
	cursor: pointer;
}

button {
	margin: 0;
}

button:hover {
	cursor: pointer;
}

.inline-icon {
	width: 1.2em; height: 1.2em;
	margin-right: 0.5em;
}