.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: LogoFont;
	font-size: 3rem;
	width: 100%;
	max-width: 800px;
	box-sizing: border-box;
	padding-left: 2rem;
	padding-right: 2rem;
}

.logo {
	color: white;
	font-size: 1.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

.form {
	color: white;
	display: flex;
	align-items: center;
	height: 4rem;
}

.textInput {
	box-sizing: border-box;
	background-color: rgb(45, 45, 45);
	padding: 0.5em;
	border: none;
	color: white;
	font-size: 0.65em;
	font-family: CleanFont;
	width: 15em;
	height: 100%;
}

.submitButton {
	background-color: rgb(45, 45, 45);
	border: none;
	height: 100%;
}

@media (max-width: 600px) {
	.textInput {
		width: 10em;
	}
}

@media (max-width: 400px) {
	.textInput {
		width: 5em;
	}
}