.wrapper {
	width: 100%;
}

.result {
	line-height: 30px;
	font-size: 1.75rem;
	font-family: SearchFontLight;
	background-color: white;
	border-bottom: 1.5px dashed black;
	display: flex;
}

.info {
	padding: 1em;
}

.contributors {
	display: flex;
	align-items: center;
}

.type {
	display: flex;
	align-items: center;
}

.sources {
	display: flex;
	align-items: center;
}

.date {
	display: flex;
	align-items: center;
}

.publishers {
	display: flex;
	align-items: center;
}

.title {
	font-size: 2.5rem;
	font-family: LogoFont;
}