.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.resultsWrapper {
	max-width: 800px;
}

.result {
	line-height: 30px;
	font-size: 1em;
	font-family: SearchFontLight;
	background-color: white;
	border-bottom: 1.5px dashed black;
	padding: 1em;
}

.title {
	font-size: 2.5em;
	font-family: SearchFont;
}

.info {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.6em;
}

.info > div {
	display: flex;
	align-items: center;
	margin-right: 1em;
}